<html>
<head> 
    <title>Welcome!!!</title>
</head>
<body>
    <h1> Welcome to Meeting Planner! </h1>
    <p>
        This is the demo application for the cource.
        <em> Django: Getting Started</em>
    </p>

    <p>
        {{message}}
    </p>

    <h2> Meetings </h2>
    <ul>
        {% for meeting in meetings %}
            <li>
                <a href="/meetings/{{meeting.id}}">
                    {{meeting.title}}
                </a>
            </li>
        {% endfor %}
    </ul>




</body>

</html>