{% extends 'base.html'  %}

{% block title %} Welcome!!!  {% endblock %}

{% block content %}
    <h1> Welcome to Meeting Planner! </h1>

    <a href="{% url 'home'%}"> Home </a>
    <br/>
    <a href="{% url 'rooms'%}"> Rooms </a>
    <br/>
    <p>
        This is the demo application for the cource.
        <em> Django: Getting Started</em>
    </p>

    <p>
        {{message}}
    </p>

    <h2> Meetings </h2>
    <ul>
        {% for meeting in meetings %}
            <li>
                <a href="{% url 'detail' meeting.id %}">
                    {{meeting.title}}
                </a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}